body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff66ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #c2158b;
}

h1 {
  font-size: 2em;
  color: #b4b4b4;
}
p {
  font-size: 1.2em;
  color: #b4b4b4;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff66ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c2158b;
}

/* Home

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #2c2c2c;
  width: 40%;
  margin: 0 auto;
}

.nav-item {
  text-decoration: none;
}

.nav-item button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
} */

/* ProblemList */

.problem-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Problem Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

form input, form textarea, form select {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff66ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #c2158b;
}

/*END Problem Form */


/* Home */
@keyframes slide-in {
  100% {
      transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
      -webkit-transform: translateX(0%);
  }
}
@keyframes slide-bottom {
  100% {
      transform: translateY(0%);
  }
}

@-webkit-keyframes slide-bottom {
  100% {
      -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
      -webkit-transform: translateX(0%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

.qLinks {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in 0.8s ease-in-out forwards;
  -webkit-animation: slide-in 0.8s ease-in-out forwards;
  position: relative;
  transform: translateX(100%);
}

.qLink {
  text-decoration: none;
  background-color: #ff66ce;
  padding: 60px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
  flex: 1 0 25%;
  max-width: 25%;
}
.qLink:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 2px #c2158b;
}
.qLink:last-child {
  margin-right: 0;
}
.qLink img {
  margin-bottom: 20px;
  max-width: 50%;
  flex: 25%;
}

.qTitle {
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}
.qSubtitle {
  color: whitesmoke;
}

/*END Home */